<html>
<head>
    <title>MomConnect Terms, Conditions and Privacy Policy</title>
</head>
<body>
<h3>Usage of the Mobisite</h3>

<p></br>
THESE TERMS AND CONDITIONS CONSTITUTE AN AGREEMENT BETWEEN PRAEKELT FOUNDATION AND ANY PERSON ACCESSING THE MOMCONNECT MOBISITE (USER) AND ARE VALID AND ENFORCEABLE AGAINST ANY USER OF THE MOMCONNECT MOBISITE, AND ANY PAGES OR PART THEREOF. IF YOU DO NOT AGREE WITH ANY OF THE TERMS IN THIS AGREEMENT, PLEASE DISCONTINUE YOUR USAGE OF THE MOBISITE AS YOUR CONTINUED USE OF THE MOBISITE BINDS YOU TO THESE TERMS.</p>
<h3>Ownership of the Mobisite</h3>

<p></br>
Unless otherwise provided, the MomConnect Mobisite, located at https://momconnect.co.za/ is operated and owned by Praekelt Foundation .</p>
<h3>Modifications to this Agreement</h3>

<p></br>
Praekelt Foundation may at any time, in its sole discretion, make changes to this Agreement or to the content and/or services available on the Mobisite without prior notice by updating this posting on this Mobisite and specifying the effective date of the new version of the Agreement. Your continued use of the Mobisite following the posting of a new version of the Agreement constitutes your acceptance of any such changes. Please check to see if a new version of the Agreement has been posted whenever you visit the Mobisite.</p>
<h3>Contact Information</h3>

<p></br>
If you have any questions or concerns with respect to this Agreement or the Mobisite you may contact Marcha Neethling of Praekelt Foundation by email at marcha@praekeltfoundation.org. </p>
<h3>Mobisite Intended audience</h3>

<p></br>
This Mobisite is not intended for children under the age of ten years. If you are under the age of ten years you must refrain from accessing or using the Mobisite. The Mobisite is intended for persons between ten and  twenty four years. If you are between the ages of ten years and eighteen years you are required to obtain permission to use the Mobisite and bind yourself to these Terms of Use from a competent parent or guardian. The Mobisite audience is constituted by Users and Members as defined below with varying levels of obligations and undertakings.
“User” means any person who enters or uses the MomConnect Mobisite, even if such person only visits the home page of the MomConnect Mobisite.
“Member” means any User who signs up to the Mobisite as a registered member of the Mobisite community</p>
<h3>Privacy</h3>

<p></br>
Praekelt Foundation shall take all reasonable steps to protect personal information collected by virtue of your use of the Mobisite. By submitting your personal information, you specifically acknowledge and consent to the use of your personal information for authorised purposes in connection with your Mobisite usage and your arising relationship with the Praekelt Foundation and the Mobisite community. </p>
<h3>Your Use of Content and Information</h3>

<p></br>
Medical disclaimer and limitation of liability
The contents of the MomConnect Mobisite, such as text, graphics, images, medical information, and other material ("Content") are for informational purposes only. The Content is not intended to be a substitute for professional medical advice, diagnosis, or treatment. You should always seek the advice of your doctor or other qualified health provider with any questions you may have regarding any medical condition, including sexually transmitted diseases including HIV, pregnancy, or mental health conditions like Depression.
Do not disregard or reject professional medical advice you have obtained or delay in seeking such advice based on any of the Content accessed through the MomConnect Mobisite.
Information, ideas and opinions expressed on this site should not be regarded as professional advice or our official opinion; you are strongly advised to seek professional advice before taking any course of action related to them.
MomConnect does not recommend or endorse any specific tests, physicians, products, procedures, opinions, or other information that may be mentioned on the site.
Reliance on any information provided by MomConnect, MomConnect employees and others appearing on the site at the invitation of MomConnect, or other visitors to the site is solely at your own risk.
Please note that the Mobisite may contain health - or medical-related materials that are sexually explicit.
To the fullest extent permissible by law, we expressly disclaim all (express and implied) liability. While we take all reasonable precautions to prevent this, we do not warrant that the website or any software available for download via the website is free of viruses or destructive code.
We, Praekelt Foundation and our officers, directors, affiliates, shareholders, agents, suppliers, consultants or employees (in whose favour this constitutes a stipulation for the benefit of another) shall not be liable for and you hereby indemnify Us and officers, directors, affiliates, shareholders, agents, suppliers, consultants or employees (in whose favour this constitutes a stipulation for the benefit of another) against any direct, indirect, special, incidental, consequential or punitive damages or loss of any kind whatsoever or howsoever caused (whether arising under contract, delict or otherwise and whether the loss was actually foreseen or reasonably foreseeable) arising out of your use of the MomConnect site.</p>
<h3>User-Submitted Content</h3>

<p></br>
Representations Made and Rights Granted
You are responsible for all Content that you submit, post, or otherwise make available to or through the Mobisite, including user-generated content. User-generated content includes but is not limited to blogs, tweets, podcasts,wikis, chats, and photographic, video and audio files created by users of online services or systems. By doing so, you represent and warrant to Praekelt Foundation that such content is not confidential, is not defamatory and unlawful and that you have all necessary permission to submit, post and otherwise make available such Content.
Praekelt Foundation makes no claims to ownership of Content that you submit, post or otherwise make available to or through the Mobisite and you continue to retain all ownership rights in such Content and the right to use your Content as you determine. However, you do grant to Praekelt Foundation and its affiliates a worldwide, nonexclusive, perpetual, fully sub-licensable, royalty-free right and license as set below:
a. with respect to Content other than photos, graphics, audio, video, or journals that you submit, post or otherwise make available to public areas of the Mobisite (e.g. not intended as a private communication), or via any writing competitions that you participate in, the license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute , publicly perform, and publicly display such Content (in whole or part) worldwide via the Mobisite or otherwise, and/or to incorporate it in other works in any form, media, or technology including other websites or mobisites or publishing platforms now known or later developed; and
b. with respect to photos, graphics, audio, video or journals that you submit, post or otherwise make available to public areas of the Mobisite, the license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, publicly perform and publicly display such Content for the purpose for which such Content was submitted, posted or made available.
With respect to (a) and (b), you grant Praekelt Foundation the right to use your Content should you terminate your Membership of the Mobisite.
If you do not want to grant Praekelt Foundation permission to use the Content you contribute in accordance with this Agreement, please do not submit your Content on the Mobisite.</p>
<h3>Ownership and Intellectual Property Rights</h3>

<p></br>
Ownership
This Mobisite is owned by Praekelt Foundation. All right to, title to, and interest in the Mobisite Content (not User Content) available via the Mobisite, the Mobisite look and feel, the designs, trademarks, service marks, and trade names displayed on the Mobisite, and the Web Site URLs, are the property of Praekelt Foundation or its third party contributors or licensors, and are protected by copyrights, trademarks, patents, or other proprietary rights and laws.
License to Use Content
Praekelt Foundation , where applicable and authorised, grants you a nonexclusive, nontransferable, revocable, limited license to view, copy, print, Mobisite Content only for your personal, noncommercial use, provided that you do not remove or obscure any copyright notice, trademark notice, or other proprietary rights notices displayed on or in conjunction with the Content. You may not use any Content available via the Mobisite in any other manner or for any other purpose without the prior written permission of Praekelt Foundation or applicable third parties. All rights not expressly granted in this Agreement are expressly reserved to Praekelt Foundation and relevant third parties.
Trademark Notices
All trademarks, service marks, logos and designs used on this Mobisite, whether registered or unregistered, are owned by Praekelt Foundation, or other third parties. You may not use or display any trademarks, service marks, logos or designs without our prior written consent from the relevant owner.
Copyright infringements
If you would like to make a complaint regarding any intellectual property infringements on this Mobisite, please contact, in writing: [Please confirm the information to be provided]</p>
<h3>Your Contact With Advertisers or Other Third Parties and Other Sites</h3>

<p></br>
Your dealings with advertisers or other third parties found on or accessible through the Mobisite are solely between you and the third party. These links are provided solely as a convenience to Users and should not be construed as an endorsement by Praekelt Foundation of content, items, or services on those third-party Web sites. You access and use such sites, including the content, items, or services on those sites, solely at your own risk.
Praekelt Foundation does not make any representations or warranties with respect to any content or privacy practices, or otherwise with respect to such third parties or any items or services that may be obtained from such third parties, and you agree that Praekelt Foundation, will have no liability with respect to any loss or damage of any kind incurred as a result of any dealings between you and any third party, or as a result of the presence of such third parties on the Mobisite.</p>
<h3>Disclaimer of Warranties With Respect to Mobisite</h3>

<p></br>
THE MOBISITE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. PRAEKELT FOUNDATION, EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NONINFRINGEMENT.
PRAEKELT FOUNDATION DO NOT MAKE ANY WARRANTY THAT THE MOBISITE WILL MEET YOUR REQUIREMENTS, OR THAT ACCESS TO THE MOBISITE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, OR THAT DEFECTS, IF ANY, WILL BE CORRECTED. PRAEKELT FOUNDATIONMAKE NO WARRANTIES AS TO THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE MOBISITE OR AS TO THE ACCURACY, QUALITY, OR RELIABILITY OF ANY INFORMATION OBTAINED THROUGH THE MOBISITE.</p>
<h3>Limitations of Liability</h3>

<p></br>
PRAEKELT FOUNDATION AND THEIR AFFILIATES ASSUME NO RESPONSIBILITY FOR ANY CONSEQUENCE RELATING DIRECTLY OR INDIRECTLY TO ANY ACTION OR INACTION YOU TAKE BASED ON THE CONTENT AVAILABLE VIA THE MOBISITE. YOU MUST EVALUATE, AND BEAR ALL RISKS ASSOCIATED WITH, THE USE OF ANY CONTENT, INCLUDING ANY RELIANCE ON THE ACCURACY, COMPLETENESS, OR USEFULNESS OF SUCH CONTENT. YOU SPECIFICALLY ACKNOWLEDGE THAT PRAEKELT FOUNDATION, UNFPA AND FORD FOUNDATION ARE NOT LIABLE FOR THE DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF USERS OR THIRD PARTIES.
ADDITIONALLY, IN NO EVENT WILL PRAEKELT FOUNDATION OR THEIR AFFILIATES BE LIABLE FOR ANY SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES, INCLUDING, WITHOUT LIMITATION, ANY LOSS OF USE, LOSS OF PROFITS, LOSS OF DATA, COST OF PROCUREMENT OF SUBSTITUTE PRODUCTS OR SERVICES, OR ANY OTHER SUCH DAMAGES, HOWSOEVER CAUSED, AND ON ANY THEORY OF LIABILITY, WHETHER FOR BREACH OF CONTRACT, DELICT (INCLUDING NEGLIGENCE AND STRICT LIABILITY), OR OTHERWISE RESULTING FROM (1) THE USE OF, OR THE INABILITY TO USE THE WEB SITE; (2) THE COST OF PROCUREMENT OF SUBSTITUTE SERVICES, ITEMS, OR MOBISITES; (3) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (4) THE STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE MOBISITE; OR (5) ANY OTHER MATTER RELATING TO THE MOBISITE. THESE LIMITATIONS WILL APPLY WHETHER OR NOT PRAEKELT FOUNDATION HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES AND NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY.</p>
<h3>Indemnification</h3>

<p></br>
You agree to indemnify and hold harmless Praekelt Foundation their directors, officers, employees, agents, and affiliates, from and against any and all liability, damages, losses, claims, expenses of any kind (including, without limitation, reasonable attorneys' fees) directly or indirectly related to (1) your breach of the Agreement; or (2) the Content you submit, post, or transmit through the Mobisite.</p>
<h3>Security</h3>

<p></br>
Any user that attempts to gain unauthorised access to any page on the Mobisite, or transmits or attempts to transmit any damaging code or malware to this Mobisite could face criminal prosecution. Praekelt Foundation may also, at is sole discretion, institute civil action for damages suffered as a result of such conduct, or exercise any other remedy availale under South African law. </p>
<h3>Your Membership</h3>

<p></br>
You are responsible for maintaining the confidentiality of any passwords or usernames associated with your Membership, monitor all activity under the Membership, and assume full responsibility for all activities that occur under your Membership (unless we cause a security breach).</p>
<h3>Modification or Suspension of the Mobisite</h3>

<p></br>
Praekelt Foundation may at any time modify, discontinue, or suspend the operation of this Mobisite, or any part thereof, temporarily or permanently, without notice to you.</p>
<h3>Breach of Agreement Terms</h3>

<p></br>
If any User or Member uses the Mobisite in breach of the terms set out in this Agreement, then Praekelt Foundation shall have the right to immediately terminate such User’s or Member’s access to the Mobisite.
After termination, you shall no longer access the Mobisite. The provisions of this Agreement which by their intent or meaning intended to survive such termination shall continue to apply indefinitely.</p>
<h3>Severability of Agreement</h3>

<p></br>
If any provision of the Agreement is found by a court or other binding authority to be invalid, you agree that every attempt shall be made to give effect to the parties’ intentions as reflected in that provision, and the remaining provisions contained in the Agreement shall continue in full force and effect.</p>
<h3>Applicable Law</h3>

<p></br>
This Agreement and the resolution of any dispute related to this Agreement or the Mobisite shall be governed by and construed in accordance with the laws of South Africa without giving effect to any principles of conflicts of law. Any legal action or proceeding between Praekelt Foundation and you related to the Agreement shall be brought exclusively in a court of competent jurisdiction in South Africa and you agree to submit to the personal and exclusive jurisdiction of such courts.</p>




</body>
</html>
